/* --- Generic Classes --- */

.abs-tl { left: 0; position: absolute; top: 0; }
.abs-tr { position: absolute; right: 0; top: 0; }
.abs-bl { bottom: 0; left: 0; position: absolute; }
.abs-br { bottom: 0; position: absolute; right: 0; }
.rel { position: relative; }

.h-0 { height: 0%; }
.h-50 { height: 50%; }
.h-100 { height: 100%; }
.w-20 { width: 20%; }
.w-50 { width: 50%; }
.w-80 { width: 80%; }
.w-100 { width: 100%; }

.b-0 { background: rgb(0,0,0); }
.b-10 { background: rgb(10,10,10); }
.b-20 { background: rgb(20,20,20); }
.b-40 { background: rgb(40,40,40); }

.c-100 { color: rgb(100,100,100); }
.c-200 { color: rgb(200,200,200); }
.c-220 { color: rgb(220,220,220); }
.c-240 { color: rgb(240,240,240); }
.c-green { color: rgb(85,135,65); }
.c-yellow { color: rgb(135,125,65); }
.c-blue { color: rgb(75,125,225); }
.c-red { color: rgb(135,70,65); }

.f-14 { font-size: 14px; }

.p-16 { padding: 16px; }

.bold { font-weight: bold; }
.flex-center { align-items: center; display: flex; justify-content: center; }
.inline { display: inline-block; }
.pointer { cursor: pointer; }
.scroll { overflow-y: scroll; }
.text-center { text-align: center; }
.v-top { vertical-align: top; }

/* --- Special Classes --- */

.jp { font-family: "Klee One", sans-serif; }
.scroll-10-20 { overflow-y: scroll; scrollbar-color: rgb(10,10,10) rgb(20,20,20); scrollbar-width: thin; }
.scroll-20-10 { overflow-y: scroll; scrollbar-color: rgb(20,20,20) rgb(10,10,10); scrollbar-width: thin; }