/* --- Left --- */

#left .title { font-size: 2em; height: 50px; }

#single { height: calc(100% - 50px); position: relative; }
.single-left, .single-right { padding-top: 12px; }

#single .rank { left: 6px; top: 18px; }
#single .kanji { font-size: 8em; height: 200px; }

.components-title { padding: 12px 0; }
.component-container { height: 50px; margin-bottom: 12px; overflow: hidden; }
.component-kanji { font-size: 2em; padding: 4px 12px 0 6px; }
.component-definition { padding-top: 12px; }

/* --- Right --- */

#search { font-size: 1.25em; height: 50px; padding-left: 12px; }

.filters-title, .filter { padding: 6px; }
.filter { display: none; }
.filter-enabled .filter { display: inline-block; }

.filter-enabled .kanji { display: none; }
.filter-M-0 .kanji.tag-M-0,
.filter-N4-6 .kanji.tag-N4-6 { display: inline-block; }

#list { height: calc(100% - 84px); overflow-y: scroll; padding-right: 12px; scrollbar-color: rgb(10,10,10) rgb(20,20,20); scrollbar-width: thin;}
#list .kanji { font-size: 4em; }

.kunyomi, .onyomi, .words { padding: 0 0 12px 12px; }
.reading-title { padding-bottom: 6px; }
.reading-hiragana, .reading-kanji { font-size: 1.25em; padding-right: 6px; }
.reading-definition { padding-top: 2px; }

.reading-kanji {}

@media(max-width: 600px) {
    #left, #right { height: 50% !important; width: 100% !important; }
    #right { top: 50% !important; }
}