body { overflow-x: hidden; }
#left, #right { transition: .3s all ease-in-out; }

/* --- Left --- */

#left { left: -100%; }
.open-kanji #left { transform: translate3d(100%, 0, 0); }

#single { height: calc(100% - 60px); position: relative; }
.single-left { padding: 16px 0 0 16px; }
.single-right { padding: 16px 16px 0 0; }

#single .rank { left: 24px; top: 24px; }
#single .kanji { font-size: 8em; height: 200px; }

.status { display: flex; justify-content: space-between; }
.status-button { padding: 6px 0; }
.active-status.status-button { color: rgb(220,220,220); }

.components-title { padding: 12px 0; }
.component-container { height: 60px; margin-bottom: 12px; overflow: hidden; }
.component-kanji { font-size: 2em; padding: 4px 12px 0 6px; }
.component-definition { padding-top: 6px; width: calc(100% - 60px); }

.kunyomi, .onyomi, .words { padding: 0 0 12px 12px; }
.reading-title, .word { padding-bottom: 12px; }
.reading-hiragana, .reading-kanji { font-size: 1.25em; padding-right: 6px; }
.reading-definition { padding-top: 2px; }

/* --- Right --- */

.open-kanji #right { transform: translate3d(100%, 0, 0); }

#list { height: calc(100% - 60px); padding-top: 16px; transition: .3s height ease-in-out; }
#list .kanji { font-size: 3em; padding-bottom: 8px; }

.actions { font-size: 14px; height: 60px; overflow: hidden; transition: .3s height ease-in-out; }

#filters { height: 50vh; }
.filters-title { height: 60px; padding-top: 20px; z-index: 1; }

#search { height: 60px; padding-left: 16px; z-index: 1; }

.show-filters #list { height: 50% !important; }
.show-filters .actions { height: 50%; }
.show-filters .filters-title { background: rgb(200,200,200); color: rgb(10,10,10); }

.lessons-filters, .types-filters, .status-filters { height: calc(100% - 60px); position: absolute; top: 0; }
.lessons-filters { left: 0; }
.types-filters { left: 20%; }
.status-filters { left: 40%; }

.lessons-filters-title, .types-filters-title, .status-filters-title { height: 40px; padding-top: 12px; }

.filter-list { height: calc(100% - 40px); padding-bottom: 12px; }

.filter { color: rgb(100,100,100); padding: 6px 0; }
.filter-selected.filter { color: rgb(220,220,220); }

@media (min-width: 600px) {
    #list .kanji { font-size: 4em; }
    .filter-list { padding-left: 10px; }
}